<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="false" />

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find go1_bringup)/config/nav_config.yaml" command="load" />

    <param name="global_costmap/global_frame" value="map" />
    <param name="local_costmap/global_frame" value="map" />
    <param name="global_costmap/robot_base_frame" value="base_link" />
    <param name="local_costmap/robot_base_frame" value="base_link" />
    
    <param name="global_costmap/transform_tolerance" value="0.5"/>
    <param name="local_costmap/transform_tolerance" value="0.5"/>
  </node>
</launch>
